<!-- SUPABASE -->

NEXT_PUBLIC_PROVIDER_NAME=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_UPLOAD_IMAGE_PATH=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_OPENAI_API_KEY=
NEXT_PUBLIC_X_RAPIDAPI_KEY=
NEXT_PUBLIC_X_RAPIDAPI_HOST=referential.p.rapidapi.com
NEXT_PUBLIC_X_RAPIDAPI_API_URL=https://referential.p.rapidapi.com/v1/country?limit=250

<!-- FIREBASE -->

NEXT_PUBLIC_FIREBASE_API=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_DB_URL=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
