@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-Black.woff2') format('woff2'),
    url('Lexend-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-Bold.woff2') format('woff2'),
    url('Lexend-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-ExtraBold.woff2') format('woff2'),
    url('Lexend-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-Light.woff2') format('woff2'),
    url('Lexend-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-ExtraLight.woff2') format('woff2'),
    url('Lexend-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-Medium.woff2') format('woff2'),
    url('Lexend-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-Regular.woff2') format('woff2'),
    url('Lexend-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-SemiBold.woff2') format('woff2'),
    url('Lexend-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('Lexend-Thin.woff2') format('woff2'),
    url('Lexend-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
