@import 'fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
}

/*  Loader icon */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.loading-blocks {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-blocks .block {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #4c51bf;
  animation: loading-blocks 0.6s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-blocks .block:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-blocks .block:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-blocks .block:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading-blocks {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.loading-blocks__text {
  font-size: 1.4rem;
  font-weight: 700;
}
