@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'allumi-std', sans-serif;
  font-size: 10px;
  background-color: #fafafa;
}

/* 
 * Auth
*/

.authcontainer {
  @apply bg-gray-100 p-10 rounded-2xl text-center mt-20 mx-auto max-w-lg !important;
}

.authcontainer .sbui-card {
  @apply bg-gray-100 !important;
}

.authcontainer .sbui-typography-title {
  @apply text-gray-800 font-bold !important;
}

.authcontainer label,
.authcontainer .sbui-typography-text {
  @apply text-accent-500 font-light !important;
}

.authcontainer .sbui-btn {
  @apply bg-accent-500 text-white hover:bg-accent-800 !important;
}

.authcontainer .sbui-formlayout__label {
  @apply text-gray-800 !important;
}

.authcontainer a {
  @apply text-accent-500 shadow-none hover:text-accent-800 !important;
}

.authcontainer button[type='submit'] {
  @apply bg-accent-500 !important;
}

.authcontainer input:focus {
  @apply border-accent-800 !important;
}

.authcontainer .sbui-typography-text-danger {
  top: 3px !important;
  position: absolute !important;
}

.sbui-checkbox {
  @apply text-gray-800 hover:border-accent-800 checked:bg-accent-100 !important;
}

/*  Loader icon */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.loading-blocks {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-blocks .block {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #4c51bf;
  animation: loading-blocks 0.6s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-blocks .block:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-blocks .block:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-blocks .block:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading-blocks {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.loading-blocks__text {
  font-size: 1.4rem;
  font-weight: 700;
}
